<form class="example-form" [formGroup]="deleteUserForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="UserId" formControlName="userId">
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary">Submit</button>
</form>
