<div class="example-container mat-elevation-z8">

  <mat-table *ngIf="dataSource" #table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.userName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef> Full name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName + ' ' + (element.lastName ? element.lastName : '')}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <i class="material-icons" style="cursor: pointer;" (click)="changePassword(element)">
          vpn_key
        </i>
        <i class="material-icons" style="cursor: pointer;" (click)="deleteUser(element)">
          delete
        </i>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
