<h1 mat-dialog-title>Delete '{{data.objName}}'?</h1>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.obj" cdkFocusInitial>Ok</button>
</div>
