<h1 mat-dialog-title>Change Password</h1>
<div mat-dialog-content>
  <p>Enter new password:</p>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" [(ngModel)]="password" required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="password" cdkFocusInitial>Submit</button>
</div>
