<mat-toolbar color="primary" class="example-header">
  <mat-toolbar-row>
    <span>BioFi Server</span>
    <span class="example-spacer"></span>
    <!-- <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon> -->
    <span>{{user?.userName}}</span>
    <span style="margin: 0 0 0 10px; cursor: pointer;" (click)="logOut()">Logout</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="example-sidenav" [fixedInViewport]="true" [fixedTopGap]="64">
    <mat-nav-list>
      <!-- <a mat-list-item routerLink="/login" routerLinkActive="active"> Login </a> -->
      <a mat-list-item routerLink="users" routerLinkActive="active"> Users </a>
      <a mat-list-item routerLink="add-user" routerLinkActive="active"> Add User </a>
      <!-- <a mat-list-item routerLink="change-password" routerLinkActive="active"> Change Password </a> -->
      <a mat-list-item routerLink="institutes" routerLinkActive="active"> Institutes </a>
      <a mat-list-item routerLink="add-institute" routerLinkActive="active"> Add Institute </a>
      <!-- <a mat-list-item routerLink="/enroll" routerLinkActive="active"> Enroll </a>
          <a mat-list-item routerLink="/match" routerLinkActive="active"> Match </a> -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <!-- <p><mat-checkbox formControlName="fixed">Fixed</mat-checkbox></p>
      <p><mat-form-field>
        <input matInput type="number" formControlName="top" placeholder="Top gap">
      </mat-form-field></p>
      <p><mat-form-field>
        <input matInput type="number" formControlName="bottom" placeholder="Bottom gap">
      </mat-form-field></p>
      <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p> -->
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <mat-toolbar class="example-footer">Footer</mat-toolbar> -->
