<div style="width: 600px; margin: 50px auto 0;">
  <h2>Add Institute</h2>
</div>
<mat-card class="example-card">
  <form class="example-form" [formGroup]="instituteForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Institute Name" formControlName="name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Address" formControlName="address">
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Add</button>
  </form>
</mat-card>
