<div style="width: 600px; margin: 50px auto 0;">
  <h2>Add User</h2>
</div>
<mat-card class="example-card">
  <form class="example-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Username" formControlName="userName">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="First Name" formControlName="firstName">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Last Name" formControlName="lastName">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="Confirm Password" formControlName="c-password">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-select placeholder="Institute" formControlName="institute">
        <mat-option [value]="institute.id" *ngFor="let institute of institutes">{{institute.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-select placeholder="Role" formControlName="role">
        <mat-option value="2">User</mat-option>
        <mat-option value="1">Admin</mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Add</button>
  </form>
</mat-card>
