<form class="example-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Username" formControlName="username">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="password" matInput placeholder="Password" formControlName="password">
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary">Login</button>
</form>
