.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 40px;
  }

  .example-full-width {
    width: 100%;
  }

  .example-card {
    margin: auto;
    max-width: 600px;
  }
