<div style="width: 600px; margin: 50px auto 0;">
  <h2>Change Password</h2>
</div>
<mat-card class="example-card">
  <form class="example-form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="Current Password" formControlName="currentPassword">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="New Password" formControlName="password">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="Confirm Password" formControlName="c-password">
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Change Password</button>
  </form>
</mat-card>
